*{
    margin: 0px;
    padding: 0px;
}

ul {
    list-style: none;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 0px;
    box-shadow: 10px, 5px, 5px, black;
    position: absolute;
    height: 536px;
    left: 0%;
    right: 0%;
    top: 0px;
}

.menu nav ul li a{
    text-decoration: none;
    color: #725C5C;
    display: flex;
    font-family: Quicksand;
    font-style: normal;
    font-size: 15px;
    line-height: 19px;
    padding-left: 2%;
    font-weight: 500;
}

